<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sibmentor.appointmentbooking">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".BuyMeACoffee">
        </activity>
        <activity android:name=".passwordReset">
        </activity>
        <activity android:name=".UserPassUpdate">
        </activity>
        <activity android:name=".UserEmailUpdate">
        </activity>
        <activity android:name=".UserPhoneVerify">
        </activity>
        <activity android:name=".UserProfile">
        </activity>
        <activity
                android:name=".mentorShowSlotActivity"
                android:theme="@style/CustomTheme">
        </activity>
        <activity
                android:name=".UserHomeV2"
                android:label="@string/title_activity_user_home_v2"
                android:theme="@style/CustomTheme">
        </activity>
        <activity android:name=".MentorRegistration">
        </activity>
        <activity android:name=".student_show_reserved_slot_Activity">
        </activity>
        <activity
                android:name=".AppointmentList2"
                android:label="@string/title_appointmentList">
        </activity>
        <activity
                android:name=".AboutDeveloper"
                android:label="@string/title_aboutdeveloper">
        </activity>
        <activity
                android:name=".mentorhomev2"
                android:label="@string/title_activity_mentorhomev2"
                android:theme="@style/CustomTheme">
        </activity>
        <activity
                android:name=".MentorSlotList"
                android:label="@string/title_activity_locallist">
        </activity>
        <activity
                android:name=".addSlotActivity"
                android:label="@string/title__addslot">
        </activity>
        <activity
                android:name=".UserHome"
                android:label="Book Slots">
        </activity>
        <activity
                android:name=".UserSignup"
                android:label="@string/title_activity_user_signup">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/title_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="083f6fb393aa269d22adb689b652fa6ca6797187"/>
    </application>

</manifest>